/* Remember to add comments for anything that is not self-explanatory */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px; /* To ensure navbar goes all the way to the edges */
    background-color: white;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

/* We don't really need a separate class for the navbar since we only have one of them */
nav {
    background-image: url(../img/bakgrunn.jpg); /*https://i.pinimg.com/originals/25/e2/8e/25e28e4db699d47cfd18a6ad600c49ef.jpg*/
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav a {
    /* TA recommended we make it more obvious that these are links, hence the underline */
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
    display: block;
}

nav a:hover {
    cursor: pointer;
    background-color: rgba(3, 111, 46, 0.447);
}

nav li {
    display: inline-block;
}

h1 {
    font-size: 45px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../img/bakgrunn.jpg);
    color: white;
    border-radius: 10px;
}

p{
    font-size: 18px;
    line-height: 30px;

}

img {
    width:100%;
}

.link {
    color: black;
    font-size: 18px;
    line-height: 30px;
    transition: 0.1s;
}

.link:hover {
    cursor: pointer;
    color: rgb(180, 1, 1);
    text-shadow: 5px 5px 5px rgb(140, 135, 135);
}

.fotograf {
    margin-top: 0px;
    font-size: 13px;
    color: rgb(140, 135, 135);
}


.topical-grid-innhold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}