html {
    /* Jevn rulling ved klikk på jumplinker */
    scroll-behavior: smooth;

    /* Forskyvning ved klikk på jumplinker, slik at overskriften ikke havner under menyen */
    scroll-padding-top: 120px;

    /* Gradienten gjør bildet mørkere og mer dempet enn originalen */
    /* Vi bruker en variabel for å slippe å kopiere hele koden til flere steder */
    --bar-background: linear-gradient(rgba(0.5, 0.2, 0.5, 0.6), rgba(0.5, 0.2, 0.5, 0.6)),
    url(../bilder/bakgrunn.jpg); /*https://i.pinimg.com/originals/25/e2/8e/25e28e4db699d47cfd18a6ad600c49ef.jpg*/

    /* TODO: Skikkelig kildehenvisning for bildet over. */
    /* Tengel vil ha en link til siden der man finner bildet, men han er ikke så opptatt av fotograf, årstall osv. */
    /* TODO: Bearbeid bildet slik at det repeater bedre. Akkurat nå er det en "skarp kant" der det repeates */

}

body {    
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    /* Slik at vi kan få elementer som footer helt ut til kantene */
    margin: 0px;
}

@media (max-width: 1200px) {
    /* Smalere marginer for smalere skjermer */
    main {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 1201px) {
    /* Brede marginer ellers. Ikke testet på ultra-widescreen */
    main {
        margin-left: 20%;
        margin-right: 20%;
    }
}

header {
    background-image: var(--bar-background);
    min-height: 76px;
    text-align: center;
}

@media (min-width: 1001px) {
    header {
        /* Gi navbaren runde hjørner og litt avstand fra kanten av vinduet */
        border-radius: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
}
@media (max-width: 1000px) {

}

nav ul {
    /* Midtstill elementene på menyen */
    text-align: center;

    /* Tilbakestill standard list padding til 0, slik at punktene faktisk midtstilles */
    padding: 0;
    margin: 0;

    /* Fjern kulene foran punktene (bare relevant når menyen vises som en vanlig liste på smal skjerm) */
    list-style-type: none;
}

nav a, label {
    text-decoration-line: none;
    color: linen;
    font-size: 22px;
    font-weight: bold;
    padding: 25px;
    display: block; /* Slik at nettleseren respekterer padding-verdien */
    transition-duration: 0.1s;
}

nav a:hover {
    background-color: rgba(0, 200, 80, 0.5);
}

#toppmeny-bryter {
    display: none;
}

label {
    user-select: none;
    cursor: pointer;
}

@media (min-width: 1001px) {

    header {
        position: sticky;
        top: 20px;
    }

    nav li {
        /* Plasser elementene på menyen på vannrett linje i stedet for i en typisk "liste" */
        display: inline-block;
    }

    label {
        display: none;
    }

}

@media (max-width: 1000px) {
    nav {
        max-height: 0px;
        overflow: hidden;
        transition-duration: 0.25s;
        transition-property: all;
        transition-timing-function: ease-out;
    }
    #toppmeny-bryter:checked + nav {
        max-height: 500px;
    }
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: var(--bar-background);
    color: linen;
    border-radius: 10px;
    margin-top: 25px;
}

p {
    font-size: 18px;
    line-height: 30px; /* For å få litt luft mellom linjene i teksten på sidene */
}

img {
    /* La bilder fylle hele bredden av forelder-elementet som standard */
    /* Da ser det meste greit ut på mobil, og vi kan bruke div-er til å begrense størrelsen der det trengs i andre formater */
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    background-color: rgb(1, 30, 1);
}

.link {
    color: black;
    font-size: 18px;
    line-height: 30px;
    transition: 0.1s;
}

.link:hover {
    color: rgb(180, 1, 1);
    text-shadow: 5px 5px 5px rgb(140, 135, 135);
}

.fotograf {
    margin-top: 0px;
    font-size: 13px;
    color: rgb(140, 135, 135);
}

/* Grid-layout med to kolonner - brukes kun når skjermen er bred nok */
/* På smale skjermer lar vi div-ene havne under hverandre i én kolonne i stedet */
@media (min-width: 1001px) {
    .topical-grid-innhold {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }

    /* Disse selectorene gjør at bildene havner på venstre/høyre side av teksten annenhver gang */
    /* Hver forelder-div i HTML har først en div med tekst, deretter en div med bilde */

    /* partallsindeks: tekst-div i første kolonne, bilde-div i andre kolonne */
    .topical-grid-innhold:nth-of-type(even) div:nth-child(1) {
        grid-column-start: 1;
    }
    .topical-grid-innhold:nth-of-type(even) div:nth-child(2) {
        grid-column-start: 2;
    }

    /* oddetallsindeks: tekst-div i andre kolonne, bilde-div i andre kolonne */
    .topical-grid-innhold:nth-of-type(odd) div:nth-child(2) {
        grid-column-start: 1;
    }
    .topical-grid-innhold:nth-of-type(odd) div:nth-child(1) {
        grid-column-start: 2;
    }

    /* Tving begge div-ene til å være på første rad */
    /* (ellers havner den ene div-en på ny rad når forelder-div-en har oddetallsindeks) */
    .topical-grid-innhold div {
        grid-row-start: 1;
    }
}

.topical-grid-innhold h2  {
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-tekst {
    line-height: 30px;
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

@media (max-width: 1000px) {
    .grid-footer {
        display: grid;
        justify-self: center;
        row-gap: 50px;
    }
}
@media (min-width: 1001px) {
    .grid-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer-grid-sosialemedier {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;
}

.bilder-footer {
    width: 50px;
}

.footer-grid-bildeplassering {
    justify-self: end;
}

.footer-lenker {
    color: white;
    text-decoration: none;
    transition: 0,5s;
    text-align: center;
    padding-top: 10px;
}

.footer-lenker:hover {
    cursor: pointer;
    color: rgb(180, 1, 1);
    text-decoration: underline;
}

.footer-grid-bildeplassering {
    justify-self: end;
}

.footer-lenker {
    color: white;
    text-decoration: none;
    transition: 0,5s;
    text-align: center;
    padding-top: 10px;
}

.footer-lenker:hover {
    cursor: pointer;
    color: rgb(180, 1, 1);
    text-decoration: underline;
}

h2, .grid-sidemeny {
    box-shadow: 2px 2px 5px black;
}

header {
    box-shadow:
        2px 2px 5px black,
        0px -1019px 19px 1000px white;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 25px;
    column-gap: 25px;
}
.grid-hovedbilde {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
}
.grid-sidemeny {
    background-image: var(--bar-background);
    border-radius: 10px;

    /* Lås sidemenyens posisjon når brukeren ruller langt nok ned */
    /* align-self forhindrer blokken fra å fylle grid-cellen, slik at den har plass til å bevege seg */
    position: sticky;
    top: 120px;
    align-self: start;
    
}
@media (min-width: 1001px) {
    .grid-sidemeny {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .grid-artikkel {
        grid-column-start: 2;
        grid-row-start: 2;
    }
}
@media (max-width: 1000px) {
    .grid-sidemeny {
        display: none;
    }
    .grid-artikkel {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
    }
    h1 {
        font-size: 7.2vw;
    }
}
.sidemeny {
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: block;
}
.sidemeny li {
    padding-left: 15px;
    overflow: hidden;
    white-space: nowrap;
}
.sidemeny li a {
    display: inline-block;
    padding: 10px;
    color: linen;
    text-decoration: none;
    text-shadow: 3px 3px 3px black;
    width: 100%;

    margin-left: -50px;
    padding-left: 70px;

    transition: 0.15s;
}
.sidemeny li:first-child a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sidemeny li:last-child a {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sidemeny li a:hover {
    background-color: rgba(0, 200, 80, 0.5);
}
.sidemeny li:not(:first-child) {
    /* Alle punktene _unntatt øverste_ får en linje over seg
    => stiplet linje mellom hver link på jumplisten */
    border-top-width: 2px;
    border-top-style: dotted;
    border-top-color: linen;
}
.sidemeny li:first-child {
    font-weight: bold;
}
.sidemeny li::marker {
    content: "\2192";
    color: linen;
}
.bilde-makerspace{
    float: right;
    width: 30%;
}