/******************************************/
/*** Globale egenskaper, variabler o.l. ***/
/******************************************/

:root {
    /* Jevn rulling ved klikk på jumplinker */
    scroll-behavior: smooth;

    /* Forskyvning ved klikk på jumplinker, slik at overskriften ikke havner under menyen */
    scroll-padding-top: 120px;

    /*
    Bakgrunnsbilde for menyer og h2-elementer.
    Gradienten gjør bildet mørkere og mer dempet enn originalen.
    Vi bruker en variabel for å slippe å kopiere hele koden til flere steder.
    */
    --boks-bakgrunn:
        linear-gradient(rgba(0.5, 0.2, 0.5, 0.6), rgba(0.5, 0.2, 0.5, 0.6)),
        /* Det opprinnelige bildet er hentet fra https://unveil.art/collections/kim-boske */
        url(../bilder/bakgrunn-redigert.webp);

    --boks-skygge: 2px 2px 5px black;

    /*
    Bedre skygge enn --boks-skygge for elementer som går fra kant til kant.
    Går noen piksler utenfor både til venstre og til høyre.
    Negativ y kompenserer for overdreven spread i y-retning.
    */
    --linje-skygge: -5px -8px 5px 10px black;

    --boks-hover-farge: rgba(0, 200, 80, 0.5);
    --lys-tekstfarge: linen;
    --mork-tekstfarge: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--mork-tekstfarge);

    /* La enkelte elementer (f.eks. footer) gå helt ut til kantene */
    margin: 0px;
}


/*****************************************/
/*** Overskrifter, avsnitt, bilder o.l ***/
/*****************************************/

h1 {
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;

    background-image: var(--boks-bakgrunn);
    color: var(--lys-tekstfarge);

    border-radius: 10px;
    box-shadow: var(--boks-skygge);
}

.artikkel-grid-innhold h2, .grid-hovedinnhold h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 18px;
    line-height: 30px; /* For å få litt luft mellom linjene i teksten på sidene */
}

.fotograf {
    margin-top: 0px;
    font-size: 13px;
    color: gray;
}

main img {
    /* La bilder fylle hele bredden av forelder-elementet som standard */
    /* Da ser det meste greit ut på mobil, og vi kan bruke div-er til å begrense størrelsen der det trengs i andre formater */
    width: 100%;
    height: auto;
}

.bilde-makerspace {
    float: right;
    width: 35%;
}
.bilde-laserkutter {
    float: right;
    width: 30%;
}

main a, footer a {
    color: darkblue;
    font-size: 18px;
    line-height: 30px;
    transition: 0.1s;
}

main a:hover, footer a:hover {
    color: darkred;
    text-shadow: 2px 2px 3px gray;
}

main a:visited, footer a:visited {
    color: indigo;
}


/****************/
/*** Toppmeny ***/
/****************/

header {
    background-image: var(--boks-bakgrunn);

    /*
    Midtstill bakgrunnsbildet horisontalt. Bildet er symmetrisk, så dette ser bedre ut.
    Unngå derimot vertikal midtstilling, noe som ser rart ut når menyen åpnes og lukkes.
    */
    background-position: center top;

    /* Midtstill bl.a. menypunkter */
    text-align: center;
}

nav ul {
    /* Tilbakestill standard list padding til 0, slik at punktene faktisk midtstilles */
    padding: 0;
    margin: 0;

    /* Fjern kulene foran punktene (bare relevant når menyen vises som en vanlig liste på smal skjerm) */
    list-style-type: none;
}

nav a {
    color: var(--lys-tekstfarge);
    text-decoration-line: none;
    font-size: 22px;
    font-weight: bold;
    padding: 25px;
    display: block; /* Slik at nettleseren respekterer padding-verdien */
    transition-duration: 0.1s;
}

nav a:hover {
    background-color: var(--boks-hover-farge);
}

/*
Checkbox og label som brukes for å åpne og lukke menyen ved behov.
Mesteparten av implementasjonen og forklaringen ligger i media-queryen for smale skjermer, lenger ned i filen.
*/
#toppmeny-bryter {
    /* Selve checkboxen skal aldri være synlig */
    display: none;
}

#toppmeny-bryter-label {
    user-select: none;
    cursor: pointer;
    text-align: right;
    padding: 20px;
    height: 32px;
    color: var(--lys-tekstfarge);

    /* La elementet gå fra kant til kant => gjør hele menylinjen klikkbar */
    display: block;
}


/***********************************************************************/
/*** Hovedgrid for sider med hovedbilde, sidemeny og innholdskolonne ***/
/***********************************************************************/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Sidemenyen tar ~25% av tilgjengelig bredde */
    row-gap: 25px;
    column-gap: 25px;
}

.grid-hovedbilde {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
}

.grid-sidemeny {
    background-image: var(--boks-bakgrunn);
    box-shadow: var(--boks-skygge);
    border-radius: 10px;

    /* Lås sidemenyens posisjon når brukeren ruller langt nok ned */
    /* align-self forhindrer blokken fra å fylle grid-cellen, slik at den har plass til å bevege seg */
    position: sticky;
    top: 120px;
    align-self: start;
}

.sidemeny {
    list-style-position: inside;
    margin: 0;
    padding: 0;
    
    /*
    Vi må gjøre et par utregninger lenger nede for å få hover-effekten til å fungere som den skal.
    Derfor definerer vi noen viktige tall som variabler for å gjøre det lettere å endre på layouten ved behov.
    */
    --punkt-padding-topp-bunn: 10px;
    --punkt-padding-venstre-hoyre: 15px;
    --punkttekst-punkttegn-avstand: 20px;
    --punkttegn-bredde: 20px;
}

.sidemeny li {
    padding-left: var(--punkt-padding-venstre-hoyre);
    padding-right: var(--punkt-padding-venstre-hoyre);
    
    /* Tving punkttegnet og punktteksten til å holde seg på én linje */
    white-space: nowrap; 
}

.sidemeny li a {
    /*
    Vi vil at bakgrunnsfargen ved hover skal gå ut til kantene av listepunktet,
    ellers ser effekten merkelig ut, så vi trenger blokkstiler.
    */
    display: inline-block;

    /*
    Vi vil også at bakgrunnsfargen skal dekke selve punkttegnet, så vi bruker negativ margin
    tilsvarende listepunktets padding + punkttegnets bredde for å komme helt til kanten av listen.
    */
    --punkttekst-beregnet-margin-venstre: calc(var(--punkt-padding-venstre-hoyre) + var(--punkttegn-bredde));
    margin-left: calc(0px - var(--punkttekst-beregnet-margin-venstre));

    /*
    For at punktteksten ikke også skal havne helt ut i kanten, kompenserer vi med tilsvarende padding,
    men legger på noen ekstra piksler for å få luft mellom punkttegnet og punktteksten.
    */
    --punkttekst-beregnet-padding-venstre: calc(var(--punkttekst-beregnet-margin-venstre) + var(--punkttekst-punkttegn-avstand));
    padding-left: var(--punkttekst-beregnet-padding-venstre);

    /*
    Vi må kompensere tilsvarende i width-egenskapen for at hover-effekten skal bli nøyaktig slik vi ønsker.
    Hjørneavrundingen blir ikke riktig uten dette.
    */
    width: calc(
        100%
        - var(--punkttekst-beregnet-padding-venstre)
        + var(--punkt-padding-venstre-hoyre) * 2
    );

    padding-top: var(--punkt-padding-topp-bunn);
    padding-bottom: var(--punkt-padding-topp-bunn);
    color: var(--lys-tekstfarge);
    text-decoration: none;
    text-shadow: 3px 3px 3px black;
    transition: 0.15s;
}

/* Sørg for riktig hjørneavrunding på første og siste punkt på jumplink-listen. */
.sidemeny li:first-child a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sidemeny li:last-child a {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidemeny li a:hover {
    background-color: var(--boks-hover-farge);
}

.sidemeny li:not(:first-child) {
    /*
    Alle punktene, *unntatt øverste*, får en linje over seg
    => vi får stiplede linjer mellom hver av linkene på jumplisten
    */
    border-top-width: 2px;
    border-top-style: dotted;
    border-top-color: var(--lys-tekstfarge);
}

.sidemeny li:first-child {
    /* Uthev den første jumplinken, som korresponderer med h1 på siden */
    font-weight: bold;
}

.sidemeny li::marker {
    content: "\2192"; /* pil-ikon */

    /* NB: Hvis punkttegnet (i content) endres, er det ikke nødvendigvis 1:1-samsvar mellom font-size og --punkttegn-bredde. */
    font-size: var(--punkttegn-bredde);
    font-weight: initial;
    color: var(--lys-tekstfarge);
}


/********************************************************/
/*** Nummererte overskrifter på Tilgjengelighet-siden ***/
/********************************************************/

.tilgjengelighet-tekst {
    counter-reset: punkt;
}
.tilgjengelighet-tekst h2::before {
    counter-increment: punkt;
    content: counter(punkt) ". ";
}


/**************/
/*** Footer ***/
/**************/

footer {
    width: 100%;
    background-color: rgb(1, 30, 1);
}

.footer-tekst {
    line-height: 30px;
    color: var(--lys-tekstfarge);
    font-size: 18px;
    margin-left: 20px;
}

.footer-grid-sosialemedier {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;
}

.bilder-footer {
    width: 50px;
}

.footer-grid-bildeplassering {
    justify-self: end;
}

.footer-lenker {
    color: var(--lys-tekstfarge);
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
    padding-top: 10px;
}

.footer-grid-bildeplassering {
    justify-self: end;
}

.footer-lenker {
    color: white;
    text-decoration: none;
    transition: 0,5s;
    text-align: center;
    padding-top: 10px;
}

.footer-lenker:hover {
    cursor: pointer;
    color: rgb(180, 1, 1);
    text-decoration: underline;
}


/****************************************/
/*** Responsiv design (media queries) ***/
/****************************************/

/**
Fontstørrelsen for h1 blir litt stor på smale skjermer, så der skalerer vi ned.
Vi kunne brukt vw for å oppnå en lignende og jevnere effekt,
men dette fungerer dårlig sammen med zoom i nettleseren.
**/

@media (max-width: 750px) {
    h1 {
        font-size: 48px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 32px;
    }
}


/* ---------------------- */
/* Layout for smal skjerm */

@media (max-width: 1000px) {
    header {
        box-shadow: var(--linje-skygge);
    }
    /*
    På smal skjerm har vi en toppmeny som kan åpnes og lukkes. Dette oppnår vi med kun HTML og CSS,
    ved å bruke en stylet checkbox-label. Konseptet og koden er inspirert av fremgangsmåten som er beskrevet
    i denne artikkelen: https://codeburst.io/how-to-make-a-collapsible-menu-using-only-css-a1cd805b1390
    */
    nav {
        max-height: 0px;
        overflow: hidden;
        transition-duration: 0.25s;
        transition-property: all;
        transition-timing-function: ease-out;
    }
    #toppmeny-bryter:checked + nav {
        /*
        Den eksakte verdien for max-height er ikke kjempenøye, så lenge den er minst like stor som menyens makshøyde.
        Men om den er altfor stor i forhold til faktisk høyde, blir den synlige transition-effekten
        tilsvarende for rask i forhold til transition-duration som er angitt ovenfor.
        */
        max-height: 500px;
    }
    
    main {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* Vi har ikke plass til noen sidemeny på smale skjermer */
    .grid-sidemeny {
        display: none;
    }
    .grid-hovedinnhold {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
    }

    /*
    Ingen spesiell grid-konfigurasjon i footeren => grid-cellene vises under hverandre
    i stedet for ved siden av hverandre. Det tar seg bedre ut på smal skjerm.
    */
    .grid-footer {
        display: grid;
        justify-self: center;
        row-gap: 50px;
    }
}


/* ---------------------- */
/* Layout for bred skjerm */

@media (min-width: 1001px) {
    header {
        /* Gi navbaren runde hjørner og litt avstand fra kantene */
        border-radius: 30px;
        margin: 15px;

        /* La navbaren henge fast øverst på skjermen når brukeren ruller ned */
        position: sticky;
        top: 20px;

        /*
        Lag en hvit skygge som dekker tomrommet over navbaren, slik at
        innholdet "forsvinner" bak den når brukeren ruller ned.
        Vi forskyver skyggen 1000 piksler opp og øker radius tilsvarende,
        slik at vi får en tilnærmet rett kant i stedet for en buet kant.
        */
        box-shadow:
            var(--boks-skygge),
            0px -1019px 19px 1000px white;
    }
    
    /* Bredere marginer når vi har plass til det. Ikke testet på ultra-widescreen. */
    main {
        margin-left: 20%;
        margin-right: 20%;
    }

    nav li {
        /* Plasser elementene på menyen på vannrett linje i stedet for i en typisk "liste" */
        display: inline-block;
    }

    #toppmeny-bryter-label {
        /* Alle menyelementene er synlige på bred skjerm, så vi skjuler meny-bryteren */
        display: none;
    }

    /* Grid med sidemeny til venstre og artikkel/tekst til høyre */
    .grid-sidemeny {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .grid-hovedinnhold {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    /* Grid-layout med to kolonner - brukes kun når skjermen er bred nok */
    /* På smale skjermer lar vi div-ene havne under hverandre i én kolonne i stedet */
    .artikkel-grid-innhold {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }

    /* Disse selectorene gjør at bildene havner på venstre/høyre side av teksten annenhver gang */
    /* Hver forelder-div i HTML har først en div med tekst, deretter en div med bilde */

    /* partallsindeks: tekst-div i første kolonne, bilde-div i andre kolonne */
    .artikkel-grid-innhold:nth-of-type(even) div:nth-child(1) {
        grid-column-start: 1;
    }
    .artikkel-grid-innhold:nth-of-type(even) div:nth-child(2) {
        grid-column-start: 2;
    }

    /* oddetallsindeks: tekst-div i andre kolonne, bilde-div i andre kolonne */
    .artikkel-grid-innhold:nth-of-type(odd) div:nth-child(2) {
        grid-column-start: 1;
    }
    .artikkel-grid-innhold:nth-of-type(odd) div:nth-child(1) {
        grid-column-start: 2;
    }

    /* Tving begge div-ene til å være på første rad */
    /* (ellers havner den ene div-en på ny rad når forelder-div-en har oddetallsindeks) */
    .artikkel-grid-innhold div {
        grid-row-start: 1;
    }

    /* Vis cellene i footer-griden ved siden av hverandre når vi har plass til det */
    .grid-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}